/* components
------------------------------------------------------------*/

.c-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  height: var(--app-height);
  z-index: 9999;
  background-color: #fff;

  &__logo {
    @include mid(false);
    display: none;
    svg {
      @include mid(false);
      width: 720px;
      height: 233.61px;

      @include maxW(1023px) {
        width: 294px;
        height: 95.39px;
      }
    }
  }
}

// modal subscribe
.overlay {
  position: fixed;
  inset: 0;
  background-color: $black-cl;
  z-index: 9998;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 0.5;
    pointer-events: all;
  }
}

// barbajs
.loader{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1005;
  width: 100%;
  height: 100vh;
}
.page-transition{
  position: absolute;
  top: 0;
  background-color: $black-cl;
  width: 100%;
  height: 0%;
}

// cursor

.cursor {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: -15px;
  left: -13px;
  z-index: 999;
  mix-blend-mode: difference;
}
