/* components
------------------------------------------------------------*/
// loading
.c-loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  mix-blend-mode: difference;
  filter: invert(1);
  // pointer-events: none;
  z-index: 100;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__logo {
    pointer-events: none;
    
    svg {
      display: block;
      position: absolute;
      top: 35%;
      left: 30%;
      width: 720px;
      height: 233.61px;

      animation: fade 1.8s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// modal subscribe
.overlay {
  position: fixed;
  inset: 0;
  background-color: $black-cl;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 0.5;
    pointer-events: all;
  }
}
