/* Header
------------------------------------------------------------*/

.c-header {
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    mix-blend-mode: difference;
    filter: invert(1);
    z-index: 99;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 25px;

    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 5px;

    display: none;

    span {
      opacity: 0.3;
    }

    p {
      opacity: 0.3;
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }
  }
}
