/* variables
------------------------------------------------------------*/
$base-width: 1920px;

$main-fonts: neue-haas-grotesk-text, dnp-shuei-gothic-gin-std, sans-serif;

//color common
$main-text-cl: #333;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;
