/* -------------------------------------------------------------------------- */
/*                                 detail page                                */
/* -------------------------------------------------------------------------- */

.p-detail {
  &__wrapper {
    margin-top: 390px;
    margin-bottom: 180px;

    @include maxW(1023px) {
      margin-top: 220px;
      margin-bottom: 120px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      width: 80%;
      font-size: 2.4rem;
    }

    @include maxW(1023px) {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        width: 100%;
        font-size: 1.8rem;
        line-height: 1.56;
      }
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.67;

    @include maxW(1023px) {
      font-size: 1.4rem;
      line-height: 1.86;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    @include maxW(1023px) {
      gap: 10px;
    }
  }

  // tabs

  &__tabs {
    margin-top: 135px;

    .tabs {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 30px;

      .tab-link {
        opacity: 0.3;
        font-size: 2.2rem;
        line-height: 1.55;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        transition: all ease 0.5s;

        &.active {
          opacity: 1;
        }
      }

      @include maxW(1023px) {
        gap: 15px;

        .tab-link {
          font-size: 1.8rem;
          line-height: 1.67;
        }
      }
    }

    // tab content

    .tab-content {
      padding-top: 60px;
      opacity: 0;
      animation: fadeTab 1s ease 1 forwards;

      display: none;

      &.active {
        display: block;
      }

      @include maxW(1023px) {
        padding-top: 30px;
      }

      &--top {
        width: 70%;

        h4 {
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.79;
          padding-bottom: 20px;
        }

        p {
          font-size: 1.6rem;
          line-height: 1.84;
          padding-bottom: 15px;

          &:last-child {
            padding-bottom: 80px;
          }
        }

        @include maxW(1023px) {
          width: 100%;

          h4 {
            font-size: 1.4rem;
            line-height: 1.71;
          }

          p {
            font-size: 13px;
            line-height: 1.77;

            &:last-child {
              padding-bottom: 30px;
            }
          }
        }
      }

      &--table {
        width: 50%;

        td {
          vertical-align: top;
          padding-bottom: 15px;
        }

        .table-title {
          width: 30%;
          font-size: 1.6rem;
          line-height: 1.72;
          font-weight: 500;
          text-transform: uppercase;
        }

        .table-content {
          font-size: 1.5rem;
          line-height: 1.77;

          a {
            text-decoration: underline;
          }
        }

        @include maxW(1023px) {
          width: 100%;

          td {
            width: 100%;
            display: block;
          }

          .table-title {
            width: 100%;
            font-size: 1.4rem;
          }

          .table-content {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  // swiper
  &__swiper {
    margin-top: 30px;

    .detail-swiper {
      display: block;
      margin: 0 -30px;
      padding: 0 30px;
      overflow: hidden;
      position: relative;
    }

    @include maxW(1023px) {
      margin-top: 25px;

      .detail-swiper {
        margin: 0 -15px;
        padding: 0 15px;
      }
    }

    .slider-total {
      position: absolute;
      bottom: 0;
      right: 30px;

      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 4px;

      @include maxW(1023px) {
        right: 15px;
        font-size: 1.3rem;
      }
    }

    .swiper-button-next {
      position: absolute;
      top: 0;
      right: 0;
    }

    .swiper-button-prev {
      position: absolute;
      top: 0;
      left: 0;
    }

    .button-swiper {
      font-size: 0;
      border: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      background-color: transparent;
      z-index: 1;
      cursor: none;

      &::after {
        content: "";
      }

      @include maxW(1023px) {
        display: none;
      }
    }
  }

  .swiper-slide {
    counter-increment: item;

    &:after {
      content: counter(item);
      font-size: 1.8rem;
      font-weight: 500;
      display: block;
      padding-top: 20px;

      @include maxW(1023px) {
        font-size: 1.3rem;
        padding-top: 10px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // pager

  &__pager {
    display: flex;
    align-items: center;
    gap: 155px;

    margin-top: 180px;

    a {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.84;
    }

    span {
      display: block;
      padding-top: 20px;
      font-weight: bold;
    }

    @include maxW(1023px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      margin-top: 80px;

      a {
        font-size: 1.4rem;
        line-height: 1.71;
      }

      span {
        padding-top: 0;
      }
    }
  }
}

@keyframes fadeTab {
  100% {
    opacity: 1;
    transform: none;
  }
}